.header {
  background-color: #e7e7e7;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
  position: fixed;
  top: 0;
  left: 50%; /* Center the header */
  transform: translateX(-50%); /* Shift it back by half its own width */
  width: inherit; /* Match the width of the parent */
  max-width: inherit; /* Prevent it from exceeding the parent's width */
  z-index: 99;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.navbarItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}

.navbarItem {
  padding: 10px 30px;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
