.header {
  background-color: #e7e7e7;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
  position: fixed;
  width: inherit;
}

.navbarItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}

.navbarItem {
  padding: 10px 30px;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}
