.education {
  scroll-margin-top: 40px;
}

.educationItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .educationItems {
    flex-direction: column;
  }
}
